<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] -City of Johannesburg</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/NCA_FA2.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a><img src="~/Images/Logo.png" alt="Logo"></a>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link " asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="AboutTheCity">About The City</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " asp-area="" asp-controller="Home" asp-action="CityServices">City Services</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " asp-area="" asp-controller="Home" asp-action="KeyDocuments">Key Documents</a>
                        </li>
                        
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer ">
        <div class="container">
            <div class="row">
                <div class="col-md-4 links">
                    <h4>Help & Support</h4>
                    <ul >
                        <li><a class="links" href="#">Public access to information act</a></li>
                        <li><a class=" links" href="#">A-Z</a></li>
                        <li><a class=" links" href="#">By-Laws</a></li>
                    </ul>
                </div>
                <div class="col-md-4 links">
                    <h4>Other</h4>
                    <ul>
                        <li><a class=" links" href="#">Public notices</a></li>
                        <li><a class=" links" href="#">Key documents</a></li>
                        <li><a class=" links" href="#">City services</a></li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <h4 class="text-center">Stay Connected</h4>
                    <a class="Social_icons" href="https://support.google.com/answer/2451065?hl=en" target="_blank" style="display: inline-block; margin-right: 10px;">
                        <img src="~/Images/google.png" alt="Google Logo" width="70">
                    </a>
                    <a class="Social_icons" href="https://www.facebook.com/" target="_blank" style="display: inline-block; margin-right: 10px;">
                        <img src="~/Images/facebook.png" alt="Facebook Logo" width="70">
                    </a>
                    <a class="Social_icons" href="https://twitter.com/?lang=en" target="_blank" style="display: inline-block;">
                        <img src="~/Images/twitter.png" alt="Twitter Logo" width="70">
                    </a>
                </div>
            </div>
        </div>
        <div class="container">
            &copy; 2023 - NCA_FA2 - <a asp-area="" asp-controller="Home" asp-action="Index"></a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
    

</body>
</html>
