
@{
    ViewData["Title"] = "CityServices";
}

<html>

<head>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/css/website.css" rel="stylesheet" media="screen" />
    
    
</head>

<body class="City_body">
    <div class="container">
        <div class="text-center">
            <br /><br />
            <h1 class="Heading_City">City Services</h1>
            <br /><br /><br />
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="card">
                    <div class="card-body contain_links text-center">
                        <br /><br />
                        <img src="~/Images/cityservice/E-services-01.png" alt="Logo" class="card_Logo">
                        <br /><br />
                        <h5>CoJ Online Billing Query Resolution Platform​​​</h5><br />
                        <div class="btn-group ">
                            <button class="btn btn-primary dropdown-toggle1" type="button" data-toggle="dropdown">
                                Select a Document
                            </button>
                            <div class="dropdown-menu ">
                                <a class="dropdown-item" href="~/Images/cityservice/CoJ Online Billing Query Resolution Platform.pdf">CoJ Online Billing Query Resolution Platform​​​​</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <div class="card-body contain_links text-center">
                        <br /><br />
                        <img src="~/Images/cityservice/ACCOUNT AND PAYMENTS THUMB.png" alt="Logo" class="card_Logo">
                        <br /><br />
                        <h3>Credit Control</h3><br />
                        <div class="btn-group ">
                            <button class="btn btn-primary dropdown-toggle1" type="button" data-toggle="dropdown">
                                Select a Document
                            </button>
                            <div class="dropdown-menu ">
                                <a class="dropdown-item" href="~/Images/cityservice/CoJ Online Billing Query Resolution Platform.pdf">Appointed Specialised Revenue Collections Panel​</a>
                                <a class="dropdown-item" href="~/Images/cityservice/CoJ Online Billing Query Resolution Platform.pdf">What you need to know about the amended Credit Control and Debt Collection Policy</a>
                                <a class="dropdown-item" href="~/Images/cityservice/CoJ Online Billing Query Resolution Platform.pdf">Understanding the amended Credit Control and Debt Collection Policy: ESP grant beneficiaries</a>
                                <a class="dropdown-item" href="~/Images/cityservice/CoJ Online Billing Query Resolution Platform.pdf">Understanding the amended Credit Control and Debt Collection Policy: Pensioner’s rebates</a>
                                <a class="dropdown-item" href="~/Images/cityservice/CoJ Online Billing Query Resolution Platform.pdf">Understanding the amended Credit Control and Debt Collection Policy: Illegal connection and/or tampering with water or electricity supply​</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <div class="card-body contain_links text-center">
                        <br /><br />
                        <img src="~/Images/cityservice/E-services-01.png" alt="Logo" class="card_Logo">
                        <br /><br />
                        <h3>e-Joburg​​​</h3><br />
                        <div class="btn-group ">
                            <button class="btn btn-primary dropdown-toggle1" type="button" data-toggle="dropdown">
                                Select a Document
                            </button>
                            <div class="dropdown-menu ">
                                <a class="dropdown-item" href="https://www.e-joburg.org.za/register">How to register on e-Joburg​</a>
                                <a class="dropdown-item" href="~/Images/cityservice/eJoburg meter reading post.pdf">eJoburg Meter Readings​</a>
                                <a class="dropdown-item" href="~/Images/cityservice/Meter reading weekly message 1.pdf">When submitting your meter readings</a>
                                <a class="dropdown-item" href="~/Images/cityservice/Meter reading weekly message 1.pdf">How to submit electricity readings</a>
                                <a class="dropdown-item" href="~/Images/cityservice/Meter reading weekly message 3.pdf">Before submitting your meter readings​</a>
                                <a class="dropdown-item" href="~/Images/cityservice/Key Benefits.pdf">Key Benefits of e-Joburg​</a>
                                <a class="dropdown-item" href="~/Images/cityservice/Be City smart.pdf">Be City smart and register on e-Joburg Today​</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <div class="card-body contain_links text-center">
                        <br /><br />
                        <img src="~/Images/cityservice/Regions.png" alt="Logo" class="card_Logo">
                        <br /><br />
                        <h3>Regionalisation Presentation</h3><br />
                        <div class="btn-group ">
                            <button class="btn btn-primary dropdown-toggle1" type="button" data-toggle="dropdown">
                                Select a Document
                            </button>
                            <div class="dropdown-menu ">
                                <a class="dropdown-item" href="~/Images/cityservice/Regionalisation Presentation.pptx">Presentation</a>
                               
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br />
    <br />
    <br />
    <br />
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="card">
                    <div class="card-body contain_links text-center">
                        <br /><br />
                        <img src="~/Images/cityservice/E-services-01.png" alt="Logo" class="card_Logo">
                        <br /><br />
                        <h3>e-Services​</h3><br />
                        <div class="btn-group ">
                            <button class="btn btn-primary dropdown-toggle1" type="button" data-toggle="dropdown">
                                Select a Document
                            </button>
                            <div class="dropdown-menu ">
                                <a class="dropdown-item" href="https://eservices.joburg.org.za/">e-Services​</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <div class="card-body contain_links text-center">
                        <br /><br />
                        <img src="~/Images/cityservice/ACCOUNT AND PAYMENTS THUMB.png" alt="Logo" class="card_Logo">
                        <br /><br />
                        <h8>Public Notice calling for inspection of the Supplementary (4) Valuation Roll (GV2018) and lodging of objections</h8><br />
                        <div class="btn-group ">
                            <button class="btn btn-primary dropdown-toggle1" type="button" data-toggle="dropdown">
                                Select a Document
                            </button>
                            <div class="dropdown-menu ">
                                <a class="dropdown-item" href="http://web1.joburg.org.za/lis/datasearch.nsf/frmSearch?OpenForm">Click here to search for your property</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <div class="card-body contain_links text-center">
                        <br /><br />
                        <img src="~/Images/cityservice/INVEST IN JOZI THUMB-01.png" alt="Logo" class="card_Logo">
                        <br /><br />
                        <h3>Trade and investment Portal</h3><br />
                        <div class="btn-group ">
                            <button class="btn btn-primary dropdown-toggle1" type="button" data-toggle="dropdown">
                                Select a Document
                            </button>
                            <div class="dropdown-menu ">
                                <a class="dropdown-item" href="https://clientmanagementinterface20210331063732.azurewebsites.net/landing">Trade and investment Portal</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <div class="card-body contain_links text-center">
                        <br /><br />
                        <img src="~/Images/cityservice/INVEST IN JOZI THUMB-01.png" alt="Logo" class="card_Logo">
                        <br /><br />
                        <h3>Credit Control & Debt Collection Policy​</h3><br />
                        <div class="btn-group ">
                            <button class="btn btn-primary dropdown-toggle1" type="button" data-toggle="dropdown">
                                Select a Document
                            </button>
                            <div class="dropdown-menu ">
                                <a class="dropdown-item" href="~/Images/cityservice/Credit Control and Debt Collection Policy-Final (Council Approved 31 August 2022).pdf">Credit Control & Debt Collection Policy 2022</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>

    <br />
    <br />
    <br />
    <br />
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="card">
                    <div class="card-body contain_links text-center">
                        <br /><br />
                        <img src="~/Images/cityservice/ACCOUNT AND PAYMENTS THUMB.png" alt="Logo" class="card_Logo">
                        <br /><br />
                        <h3>List of Approved Pre-termination Contractors</h3><br />
                        <div class="btn-group ">
                            <button class="btn btn-primary dropdown-toggle1" type="button" data-toggle="dropdown">
                                Select a Document
                            </button>
                            <div class="dropdown-menu ">
                                <a class="dropdown-item" href="https://www.joburg.org.za/services_/Documents/Customer%20Service%202020/LIST%20OF%20APPROVAL%20PRE-TERMINATION%20CONTRACTORS_Updated.pdf">List of Approved Pre-termination Contractors</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <div class="card-body contain_links text-center">
                        <br /><br />
                        <img src="~/Images/cityservice/ACCOUNT AND PAYMENTS THUMB.png" alt="Logo" class="card_Logo">
                        <br /><br />
                        <h3>Debt Rehabilitation program 2022​​</h3><br />
                        <div class="btn-group ">
                            <button class="btn btn-primary dropdown-toggle1" type="button" data-toggle="dropdown">
                                Select a Document
                            </button>
                            <div class="dropdown-menu ">
                                <a class="dropdown-item" href="~/Images/cityservice/FAQ debt rehab April 2022.pdf">FAQs​</a>
                                <a class="dropdown-item" href="~/Images/cityservice/DEBT REHABILITATION FACT SUMMARY 2022.pdf">Debt Rehabilitation Fact Summary​</a>
                                <a class="dropdown-item" href="~/Images/cityservice/How to register for DR.pdf">How to Register​</a>
                                <a class="dropdown-item" href="~/Images/cityservice/Debt Rehabilitation Presentation amended criteria.pdf">Debt Rehabilitation Programme Presentation</a>
                                <a class="dropdown-item" href="https://share-eu1.hsforms.com/1xhiObIJVTRio_xwwl5FO8gew554">Apply for debt relief online</a>
                                <a class="dropdown-item" href="~/Images/cityservice/DR Application Form 29 April 2022.pdf">Debt Rehabilitation Program Application Form</a>
                                <a class="dropdown-item" href="~/Images/cityservice/Debt_Rehab_Third phase bad debt write-off.pdf">Third Phase Bad Debt Write-Off  (March - June)</a>
                                <a class="dropdown-item" href="~/Images/cityservice/Debt_Rehab_Messages2.pdf">Administrative Requirements </a>
                                <a class="dropdown-item" href="~/Images/cityservice/Debt_Rehab_Messages4.pdf">How it works</a>
                                <a class="dropdown-item" href="~/Images/cityservice/Debt_Rehab_Messages5.pdf">FAQ</a>
                                <a class="dropdown-item" href="~/Images/cityservice/Debt_Rehab_Messages6.pdf">FAQ continued</a>
                                <a class="dropdown-item" href="~/Images/cityservice/DEBT REHABILITATION PROGRAMME PUBLIC MEETINGS (2).pdf">Debt Rehabilitation Programme Public Meetings May 2022​​</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <div class="card-body contain_links text-center">
                        <br /><br />
                        <img src="~/Images/cityservice/111.png" alt="Logo" class="card_Logo">
                        <br /><br />
                        <h3>Jozibill Newsletter</h3><br />
                        <div class="btn-group ">
                            <button class="btn btn-primary dropdown-toggle1" type="button" data-toggle="dropdown">
                                Select a Document
                            </button>
                            <div class="dropdown-menu ">
                                <a class="dropdown-item" href="~/Images/cityservice/Jozibill Newsletter volume 8 (with MMC).pdf">Jozibill Newsletter Vol.8 August 2023​</a>
                                <a class="dropdown-item" href="~/Images/cityservice/Jozibill Newsletter volume 7 10 July 2023 JOBURG BUDGET .pdf">Jozibill Newsletter Vol.7 July 2023​</a>
                                <a class="dropdown-item" href="~/Images/cityservice/Jozibill Newsletter volume 4_1.pdf">​​ Jozibill Newsletter Vol.4​​ December 2022​</a>
                                <a class="dropdown-item" href="~/Images/cityservice/Jozibill Newsletter volume 3.pdf">Jozibill Newsletter Vol.3 November 2022​​</a>
                                <a class="dropdown-item" href="~/Images/cityservice/Jozibill Newsletter Volume 2 17 October 2022 .pdf">Jozibill Newsletter Vol.2 October 2022​</a>
                                <a class="dropdown-item" href="~/Images/cityservice/Jozibill Newsletter Vol.1 - 23 August 2022.pdf">Jozibill Newsletter Vol.1 August​ 2022​</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <div class="card-body contain_links text-center">
                        <br /><br />
                        <img src="~/Images/cityservice/E-services-01.png" alt="Logo" class="card_Logo">
                        <br /><br />
                        <h3>e-Joburg Newsletter</h3><br />
                        <div class="btn-group ">
                            <button class="btn btn-primary dropdown-toggle1" type="button" data-toggle="dropdown">
                                Select a Document
                            </button>
                            <div class="dropdown-menu ">
                                <a class="dropdown-item" href="~/Images/cityservice/e-Joburg Newsletter April 2022.pdf">April</a>
                                <a class="dropdown-item" href="~/Images/cityservice/e-Joburg Newsletter Feb 2022.pdf">February</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

     <br />
    <br />
    <br />
    <br />
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="card">
                    <div class="card-body contain_links text-center">
                        <br /><br />
                        <img src="~/Images/cityservice/land and management.png" alt="Logo" class="card_Logo">
                        <br /><br />
                        <h3>and Use Development Management</h3><br />
                        <div class="btn-group ">
                            <button class="btn btn-primary dropdown-toggle1" type="button" data-toggle="dropdown">
                                Select a Document
                            </button>
                            <div class="dropdown-menu ">
                                <a class="dropdown-item" href="#">Link 1</a>
                                <a class="dropdown-item" href="#">Link 2</a>
                                <a class="dropdown-item" href="#">Link 3</a>
                                <a class="dropdown-item" href="#">Link 4</a>
                                <a class="dropdown-item" href="#">Link 5</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
         
            <div class="col-md-3">
                <div class="card">
                    <div class="card-body contain_links text-center">
                        <br /><br />
                        <img src="~/Images/cityservice/INVEST IN JOZI THUMB-01.png" alt="Logo" class="card_Logo">
                        <br /><br />
                        <h3>Accelerated Service Delivery</h3><br />
                        <div class="btn-group ">
                            <button class="btn btn-primary dropdown-toggle1" type="button" data-toggle="dropdown">
                                Select a Document
                            </button>
                            <div class="dropdown-menu ">
                                <a class="dropdown-item" href="#">Link 1</a>
                                <a class="dropdown-item" href="#">Link 2</a>
                                <a class="dropdown-item" href="#">Link 3</a>
                                <a class="dropdown-item" href="#">Link 4</a>
                                <a class="dropdown-item" href="#">Link 5</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <div class="card-body contain_links text-center">
                        <br /><br />
                        <img src="~/Images/cityservice/ELECTRICITY THUMB.png" alt="Logo" class="card_Logo">
                        <br /><br />
                        <h3>Illegal electricity connections</h3><br />
                        <div class="btn-group ">
                            <button class="btn btn-primary dropdown-toggle1" type="button" data-toggle="dropdown">
                                Select a Document
                            </button>
                            <div class="dropdown-menu ">
                                <a class="dropdown-item" href="#">Link 1</a>
                                <a class="dropdown-item" href="#">Link 2</a>
                                <a class="dropdown-item" href="#">Link 3</a>
                                <a class="dropdown-item" href="#">Link 4</a>
                                <a class="dropdown-item" href="#">Link 5</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <div class="card-body contain_links text-center">
                        <br /><br />
                        <img src="~/Images/cityservice/METRO BUS THUMB-01.png" alt="Logo" class="card_Logo">
                        <br /><br />
                        <h3>Public Transport: Metro Bus</h3><br />
                        <div class="btn-group ">
                            <button class="btn btn-primary dropdown-toggle1" type="button" data-toggle="dropdown">
                                Select a Document
                            </button>
                            <div class="dropdown-menu ">
                                <a class="dropdown-item" href="#">Link 1</a>
                                <a class="dropdown-item" href="#">Link 2</a>
                                <a class="dropdown-item" href="#">Link 3</a>
                                <a class="dropdown-item" href="#">Link 4</a>
                                <a class="dropdown-item" href="#">Link 5</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

     <br />
    <br />
    <br />
    <br />
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="card">
                    <div class="card-body contain_links text-center">
                        <br /><br />
                        <img src="~/Images/cityservice/health1.png" alt="Logo" class="card_Logo">
                        <br /><br />
                        <h3>CoJ Vaccination sites​</h3><br />
                        <div class="btn-group ">
                            <button class="btn btn-primary dropdown-toggle1" type="button" data-toggle="dropdown">
                                Select a Document
                            </button>
                            <div class="dropdown-menu ">
                                <a class="dropdown-item" href="#">Link 1</a>
                                <a class="dropdown-item" href="#">Link 2</a>
                                <a class="dropdown-item" href="#">Link 3</a>
                                <a class="dropdown-item" href="#">Link 4</a>
                                <a class="dropdown-item" href="#">Link 5</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <div class="card-body contain_links text-center">
                        <br /><br />
                        <img src="~/Images/cityservice/ACCOUNT AND PAYMENTS THUMB.png" alt="Logo" class="card_Logo">
                        <br /><br />
                        <h3>Customer Service Information</h3><br />
                        <div class="btn-group ">
                            <button class="btn btn-primary dropdown-toggle1" type="button" data-toggle="dropdown">
                                Select a Document
                            </button>
                            <div class="dropdown-menu ">
                                <a class="dropdown-item" href="#">Link 1</a>
                                <a class="dropdown-item" href="#">Link 2</a>
                                <a class="dropdown-item" href="#">Link 3</a>
                                <a class="dropdown-item" href="#">Link 4</a>
                                <a class="dropdown-item" href="#">Link 5</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <div class="card-body contain_links text-center">
                        <br /><br />
                        <img src="~/Images/cityservice/SOCIAL PACKAGE THUMB-01.png" alt="Logo" class="card_Logo">
                        <br /><br />
                        <h3>Expanded Social Package</h3><br />
                        <div class="btn-group ">
                            <button class="btn btn-primary dropdown-toggle1" type="button" data-toggle="dropdown">
                                Select a Document
                            </button>
                            <div class="dropdown-menu ">
                                <a class="dropdown-item" href="#">Link 1</a>
                                <a class="dropdown-item" href="#">Link 2</a>
                                <a class="dropdown-item" href="#">Link 3</a>
                                <a class="dropdown-item" href="#">Link 4</a>
                                <a class="dropdown-item" href="#">Link 5</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <div class="card-body contain_links text-center">
                        <br /><br />
                        <img src="~/Images/cityservice/TARRIFS THUMB-01.png" alt="Logo" class="card_Logo">
                        <br /><br />
                        <h3>Tariffs​​</h3><br />
                        <div class="btn-group ">
                            <button class="btn btn-primary dropdown-toggle1" type="button" data-toggle="dropdown">
                                Select a Document
                            </button>
                            <div class="dropdown-menu ">
                                <a class="dropdown-item" href="#">Link 1</a>
                                <a class="dropdown-item" href="#">Link 2</a>
                                <a class="dropdown-item" href="#">Link 3</a>
                                <a class="dropdown-item" href="#">Link 4</a>
                                <a class="dropdown-item" href="#">Link 5</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

     <br />
    <br />
    <br />
    <br />
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="card">
                    <div class="card-body contain_links text-center">
                        <br /><br />
                        <img src="~/Images/cityservice/ACCOUNT AND PAYMENTS THUMB.png" alt="Logo" class="card_Logo">
                        <br /><br />
                        <h3>​Customer Services​</h3><br />
                        <div class="btn-group ">
                            <button class="btn btn-primary dropdown-toggle1" type="button" data-toggle="dropdown">
                                Select a Document
                            </button>
                            <div class="dropdown-menu ">
                                <a class="dropdown-item" href="#">Link 1</a>
                                <a class="dropdown-item" href="#">Link 2</a>
                                <a class="dropdown-item" href="#">Link 3</a>
                                <a class="dropdown-item" href="#">Link 4</a>
                                <a class="dropdown-item" href="#">Link 5</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <div class="card-body contain_links text-center">
                        <br /><br />
                        <img src="~/Images/cityservice/BUILDING PLANS THUMB.png" alt="Logo" class="card_Logo">
                        <br /><br />
                        <h3>Building Development Management​​</h3><br />
                        <div class="btn-group ">
                            <button class="btn btn-primary dropdown-toggle1" type="button" data-toggle="dropdown">
                                Select a Document
                            </button>
                            <div class="dropdown-menu ">
                                <a class="dropdown-item" href="#">Link 1</a>
                                <a class="dropdown-item" href="#">Link 2</a>
                                <a class="dropdown-item" href="#">Link 3</a>
                                <a class="dropdown-item" href="#">Link 4</a>
                                <a class="dropdown-item" href="#">Link 5</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <div class="card-body contain_links text-center">
                        <br /><br />
                        <img src="~/Images/cityservice/DRIVERS LICENSE THUMB.png" alt="Logo" class="card_Logo">
                        <br /><br />
                        <h3>Driver's License</h3><br />
                        <div class="btn-group ">
                            <button class="btn btn-primary dropdown-toggle1" type="button" data-toggle="dropdown">
                                Select a Document
                            </button>
                            <div class="dropdown-menu ">
                                <a class="dropdown-item" href="#">Link 1</a>
                                <a class="dropdown-item" href="#">Link 2</a>
                                <a class="dropdown-item" href="#">Link 3</a>
                                <a class="dropdown-item" href="#">Link 4</a>
                                <a class="dropdown-item" href="#">Link 5</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <div class="card-body contain_links text-center">
                        <br /><br />
                        <img src="~/Images/cityservice/ELECTRICITY THUMB.png" alt="Logo" class="card_Logo">
                        <br /><br />
                        <h3>Electricity</h3><br />
                        <div class="btn-group ">
                            <button class="btn btn-primary dropdown-toggle1" type="button" data-toggle="dropdown">
                                Select a Document
                            </button>
                            <div class="dropdown-menu ">
                                <a class="dropdown-item" href="#">Link 1</a>
                                <a class="dropdown-item" href="#">Link 2</a>
                                <a class="dropdown-item" href="#">Link 3</a>
                                <a class="dropdown-item" href="#">Link 4</a>
                                <a class="dropdown-item" href="#">Link 5</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

     <br />
    <br />
    <br />
    <br />
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="card">
                    <div class="card-body contain_links text-center">
                        <br /><br />
                        <img src="~/Images/cityservice/EMERGENCY THUMB.png" alt="Logo" class="card_Logo">
                        <br /><br />
                        <h3>Emergency Services</h3><br />
                        <div class="btn-group ">
                            <button class="btn btn-primary dropdown-toggle1" type="button" data-toggle="dropdown">
                                Select a Document
                            </button>
                            <div class="dropdown-menu ">
                                <a class="dropdown-item" href="#">Link 1</a>
                                <a class="dropdown-item" href="#">Link 2</a>
                                <a class="dropdown-item" href="#">Link 3</a>
                                <a class="dropdown-item" href="#">Link 4</a>
                                <a class="dropdown-item" href="#">Link 5</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <div class="card-body contain_links text-center">
                        <br /><br />
                        <img src="~/Images/cityservice/Joburg cares-01.png" alt="Logo" class="card_Logo">
                        <br /><br />
                        <h3>Joburg Cares</h3><br />
                        <div class="btn-group ">
                            <button class="btn btn-primary dropdown-toggle1" type="button" data-toggle="dropdown">
                                Select a Document
                            </button>
                            <div class="dropdown-menu ">
                                <a class="dropdown-item" href="#">Link 1</a>
                                <a class="dropdown-item" href="#">Link 2</a>
                                <a class="dropdown-item" href="#">Link 3</a>
                                <a class="dropdown-item" href="#">Link 4</a>
                                <a class="dropdown-item" href="#">Link 5</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <div class="card-body contain_links text-center">
                        <br /><br />
                        <img src="~/Images/cityservice/METRO POLICE DEPARTMENTS THUMB-01-01.png" alt="Logo" class="card_Logo">
                        <br /><br />
                        <h3>Metro Police</h3><br />
                        <div class="btn-group ">
                            <button class="btn btn-primary dropdown-toggle1" type="button" data-toggle="dropdown">
                                Select a Document
                            </button>
                            <div class="dropdown-menu ">
                                <a class="dropdown-item" href="#">Link 1</a>
                                <a class="dropdown-item" href="#">Link 2</a>
                                <a class="dropdown-item" href="#">Link 3</a>
                                <a class="dropdown-item" href="#">Link 4</a>
                                <a class="dropdown-item" href="#">Link 5</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>

 


    <!-- Include Bootstrap JS and jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>

