
@{
    ViewData["Title"] = "KeyDocuments";
}

<html>

<head>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/css/website.css" rel="stylesheet" media="screen" />
    
</head>

<body class="Key_body">
    <div class="container">
        <div class="text-center">
            <br /><br />
            <h1 class="Heading_Key">Key Documents</h1>
            <br /><br /><br />
        </div>
    </div>

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="card">
                <div class="card-body contain_links text-center">
                    <br /><br />
                        <img src="~/Images/keydocuments/SDBIP IDP AND BUDGET THUMB-01.png" alt="Logo" class="card_Logo">
                    <br /><br />
                        <h3>SDBIP;​ IDP & Budget</h3><br />
                    <div class="btn-group ">
                        <button class="btn btn-primary dropdown-toggle1" type="button" data-toggle="dropdown">
                            Select a document
                        </button>
                            <div class="dropdown-menu ">
                                <a class="dropdown-item" href="https://drive.google.com/drive/folders/1nv2LNkzpGc2JaBp4qAzfG_bv_oChKMAH" target="_blank">2023-24 Final IDP, Budget Book, SDBIP & Business Plans​</a>
                                <a class="dropdown-item" href="~/Images/keydocuments/PDFs/1/Approved-2024-25 IDP-Process-Plan.pdf" target="_blank">Approved 2024-25 IDP Process Plan​​</a>
                                <a class="dropdown-item" href="~/Images/keydocuments/PDFs/1/idp guide.pdf" target="_blank"> IDP Guide​</a>
                                <a class="dropdown-item" href="~/Images/keydocuments/PDFs/1/FINAL IDP SCHEDULE 4 Apr 23.pdf" target="_blank">IDP Schedule​</a>
                                <a class="dropdown-item" href="~/Images/keydocuments/PDFs/1/ITEM 107 ANNEXURE A.pdf" target="_blank"> Draft IDP</a>
                                <a class="dropdown-item" href="https://share.hsforms.com/1MtZNRpjySKu4_SFH9lfogA469tl" target="_blank">Online Feedback Form​</a>
                                <a class="dropdown-item" href="~/Images/keydocuments/PDFs/1/ANNEXURES A TO F.pdf" target="_blank">2022/23 Special Adjustment Budget</a>
                                <a class="dropdown-item" href="~/Images/keydocuments/PDFs/1/ITEM 109 ANNEXURES A TO D.pdf" target="_blank">Draft 2023/24 to 2025/26 Medium Term Budget Reports​</a>
                                <a class="dropdown-item" href="~/Images/keydocuments/PDFs/1/ITEM 109 ANNEXURES A TO D.pdf" target="_blank">2022/23 Mid-Year Review of the Institutional SDBIP, Departmental and Municipal Entities Business Plans​</a>
                                <a class="dropdown-item" href="~/Images/keydocuments/PDFs/1/IDP,BUDGET -PROCESS PLAN.pdf" target="_blank">IDP, Budget Process Plan​</a>
                                <a class="dropdown-item" href="~/Images/keydocuments/PDFs/1/Final 2020-21 IDP.pdf" target="_blank">Integrated Development Plan (IDP)</a>
                                <a class="dropdown-item" href="~/Images/keydocuments/PDFs/1/2022-23 SDBIP FINAL.pdf" target="_blank">2022-23 Final SDBIP​</a>
                                <a class="dropdown-item" href="~/Images/keydocuments/PDFs/1/Final 2022-27 IDP May 2022.pdf" target="_blank">​2022-27 Final IDP</a>
                                <a class="dropdown-item" href="~/Images/keydocuments/PDFs/1/Entities Business Plans.zip" target="_blank">Final Entities Business Plans 2022​</a>
                                <a class="dropdown-item" href="~/Images/keydocuments/PDFs/1/businesplans.zip" target="_blank">Entities Business Plans​</a>
                                <a class="dropdown-item" href="~/Images/keydocuments/PDFs/1/2022-23 to 2024-25 Final Medium Term Budget reports.zip" target="_blank">Bud​get</a>
                                <a class="dropdown-item" href="~/Images/keydocuments/PDFs/1/Item 002 DRAFT 2021-22 MIDYEAR REVISIONS REPORT FOR COUNCIL.pdf" target="_blank">SDBIP</a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
            <div class="col-md-3">
                <div class="card">
                    <div class="card-body contain_links text-center">
                        <br /><br />
                        <img src="~/Images/keydocuments/SDBIP IDP AND BUDGET THUMB-01.png" alt="Logo" class="card_Logo">
                        <br /><br />
                        <h3>2022/23 Draft Business Plans​​</h3><br />
                        <div class="btn-group ">
                            <button class="btn btn-primary dropdown-toggle1" type="button" data-toggle="dropdown">
                                Select a document
                            </button>
                            <div class="dropdown-menu style=" max-height: 200px; overflow-y: auto;"">
                                <a class="dropdown-item" href="" >Nothing here yet</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <div class="card-body contain_links text-center">
                        <br /><br />
                        <img src="~/Images/keydocuments/SDBIP IDP AND BUDGET THUMB-01.png" alt="Logo" class="card_Logo">
                        <br /><br />
                        <h3>Community Based Planning​</h3><br />
                        <div class="btn-group ">
                            <button class="btn btn-primary dropdown-toggle1" type="button" data-toggle="dropdown">
                                Select a document
                            </button>
                            <div class="dropdown-menu style=" max-height: 200px; overflow-y: auto;"">
                                <a class="dropdown-item" href="~/Images/keydocuments/PDFs/1/Public Participation Outcomes Report 2023-24.pdf" target="_blank">Public Participation Outcomes Report 2023/24</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <div class="card-body contain_links text-center">
                        <br /><br />
                        <img src="~/Images/keydocuments/SDBIP IDP AND BUDGET THUMB-01.png" alt="Logo" class="card_Logo">
                        <br /><br />
                        <h3>Approved IDP, Budget Process Plan</h3><br />
                        <div class="btn-group ">
                            <button class="btn btn-primary dropdown-toggle1" type="button" data-toggle="dropdown">
                                Select a document
                            </button>
                            <div class="dropdown-menu style=" max-height: 200px; overflow-y: auto;"">
                                <a class="dropdown-item" href="~/Images/keydocuments/PDFs/1/notice final 2023-24 Integrated Development Plan (IDP) Budget Performance Monitoring and Reporting process plan._.pdf" target="_blank">Notice: 2023/24 IDP Budget Performance Monitoring and Report Process Plan​</a>
                                <a class="dropdown-item" href="~/Images/keydocuments/PDFs/1/2023-2024 IDP Budget Monitoring Evaluation  Reporting Process plan- Mayoral Committee (25august22) Final-signed.pdf" target="_blank">2023-2024 IDP Budget Monitoring Evaluation  Reporting Process plan- Mayoral Committee​​</a>
                                <a class="dropdown-item" href="~/Images/keydocuments/PDFs/1/2023-2024 IDP Budget Monitoring Evaluation  Reporting Process plan- Mayoral Committee (25august22) Final-signed.pdf" target="_blank">Approved IDP, Budget Process Plan​</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
     </div>
</div>
    <br />
    <br />
    <br />
    <br />
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="card">
                    <div class="card-body contain_links text-center">
                        <br /><br />
                        <img src="~/Images/keydocuments/SDBIP IDP AND BUDGET THUMB-01.png" alt="Logo" class="card_Logo">
                        <br /><br />
                        <h3>2020/​21 Oversight Report on Annual Report</h3><br />
                        <div class="btn-group ">
                            <button class="btn btn-primary dropdown-toggle1" type="button" data-toggle="dropdown">
                                Select a document
                            </button>
                            <div class="dropdown-menu style=" max-height: 200px; overflow-y: auto;"">
                                <a class="dropdown-item" href="~/Images/keydocuments/PDFs/1/ITEM 02 - (1).pdf" target="_blank">2021/22 Oversight Report​</a>
                                <a class="dropdown-item" href="~/Images/keydocuments/PDFs/1/2020-21 Oversight Report on Annual Report.pdf" target="_blank">Oversight Report on the 2020/21 Annual Report of the City of Johannesburg by the Municipal Public Accounts Committee (MPAC)​​</a>
                                <a class="dropdown-item" href="~/Images/keydocuments/PDFs/1/ANNEXURE A.pdf" target="_blank">Annexure A​</a>
                                <a class="dropdown-item" href="~/Images/keydocuments/PDFs/1/ANNEXURE B.pdf" target="_blank">Annexure B​</a>
                                <a class="dropdown-item" href="~/Images/keydocuments/PDFs/1/ANNEXURE C.pdf" target="_blank">Annexure C</a>
                                <a class="dropdown-item" href="~/Images/keydocuments/PDFs/1/ANNEXURE D.pdf" target="_blank">​Annexure D</a>
                                <a class="dropdown-item" href="~/Images/keydocuments/PDFs/1/ANNEXURE E.pdf" target="_blank">​Annexure E</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <div class="card-body contain_links text-center">
                        <br /><br />
                        <img src="~/Images/keydocuments/TARRIFS THUMB-01.png" alt="Logo" class="card_Logo">
                        <br /><br />
                        <h3>Tariffs​​ 2022/23</h3><br />
                        <div class="btn-group ">
                            <button class="btn btn-primary dropdown-toggle1" type="button" data-toggle="dropdown">
                                Select a document
                            </button>
                            <div class="dropdown-menu style=" max-height: 200px; overflow-y: auto;"">
                                <a class="dropdown-item" href="~/Images/keydocuments/PDFs/1/2023-24 FINAL TARIFFS.pdf" target="_blank">2023-24 Final Tariffs</a>
                                <a class="dropdown-item" href="~/Images/keydocuments/PDFs/1/Tariffs 2023 - 2024.pdf" target="_blank">2023/23 Tariffs Summary​​​</a>
                                <a class="dropdown-item" href="https://drive.google.com/file/d/1CkE7oTt0gePgYP9Vj0wHbI_aSCBxJLe8/view" target="_blank">​2022/23 Draft Tariff Reports​</a>
                                <a class="dropdown-item" href="~/Images/keydocuments/PDFs/1/Amendment of tariff charges for dishonoured payments.pdf" target="_blank"> Draft Rates and Tariffs policy​</a>
                                <a class="dropdown-item" href="~/Images/keydocuments/PDFs/1/ITEM 3C Consolidated2022-23FinalTariffsForApproval-19May 2022.pdf" target="_blank">​2023/2024 Amendment of Tariff Charges</a>
                                <a class="dropdown-item" href="~/Images/keydocuments/PDFs/1/ITEM 01C FINAL SCHEDULE OF TARIFFS.pdf" target="_blank">​2022/23 Final Tariffs​​</a>
                                <a class="dropdown-item" href="~/Images/keydocuments/PDFs/1/Approved Tariffs 2021 - 2022 (2).pdf" target="_blank">​Draft 2022/23 Tariffs</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <div class="card-body contain_links text-center">
                        <br /><br />
                        <img src="~/Images/keydocuments/property rates tariffs-01.png" alt="Logo" class="card_Logo">
                        <br /><br />
                        <h3>Property Rates Policy​</h3><br />
                        <div class="btn-group ">
                            <button class="btn btn-primary dropdown-toggle1" type="button" data-toggle="dropdown">
                                Select a document
                            </button>
                            <div class="dropdown-menu style=" max-height: 200px; overflow-y: auto;"">
                                <a class="dropdown-item" href="~/Images/keydocuments/PDFs/1/ITEM 03D ANNEXURE A Rates Policy 2023.2024_2_CPI Final.pdf" target="_blank">2023/2024 Draft Property Rates Policy​ ​</a>
                                <a class="dropdown-item" href="https://drive.google.com/file/d/11GVqkxTay8OTaca-OC6NP4YUZZ0TPxH2/view" target="_blank">​​Property Rates Policy; Credit Control Policy & Debt Collection Policy​​​</a>
                                <a class="dropdown-item" href="~/Images/keydocuments/PDFs/1/Rates Policy 2021.pdf" target="_blank">2021/2022​ ​Property Rates Policy​​​</a>
                                <a class="dropdown-item" href="~/Images/keydocuments/PDFs/1/2020_2021_Rates_Policy_Draft_1.pdf" target="_blank">2020/21 Property Rates Policy​</a>
                                <a class="dropdown-item" href="~/Images/keydocuments/PDFs/1/2021 Property rates tariffs.pdf" target="_blank">2020/21 Property Rates tariffs​​</a>
                                <a class="dropdown-item" href="~/Images/keydocuments/PDFs/1/ITEM 05 PROPERTY RATES POLICY AND RATES BY-LAW.pdf" target="_blank">2020/21 Draft Property Rates Policy & Rates By-Law</a>
                                <a class="dropdown-item" href="~/Images/keydocuments/PDFs/1/ITEM 06 Draft Tariff determination report 2020-2021.pdf.pdf" target="_blank">2020/21 Draft Determination of Proper​ty Rates Tariffs​</a>
                                <a class="dropdown-item" href="~/Images/keydocuments/PDFs/1/Rates Policy 2020 28 July 2020.pdf" target="_blank">2020/21 Rates Policy ​</a>
                                <a class="dropdown-item" href="~/Images/keydocuments/PDFs/1/final design [Property Rates].pdf" target="_blank">2019/20 Property Rates Policy​</a>
                                <a class="dropdown-item" href="~/Images/keydocuments/PDFs/1/2018 Rates Policy_Final.pdf" target="_blank">2018/19 Property Rates Policy​​</a>
                                <a class="dropdown-item" href="~/Images/keydocuments/PDFs/1/RatesPolicy2017.pdf" target="_blank">2017/2018 Property Rates Policy</a>
                                <a class="dropdown-item" href="~/Images/keydocuments/PDFs/1/2020 Property rates tariffs.pdf" target="_blank">​City rates ratios</a>
                                <a class="dropdown-item" href="~/Images/keydocuments/PDFs/1/2020 Property rates tariffs.pdf" target="_blank">Current tariffs ​​</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <div class="card-body contain_links text-center">
                        <br /><br />
                        <img src="~/Images/keydocuments/ANNUAL REPORT THUMB-01.png" alt="Logo" class="card_Logo">
                        <br /><br />
                        <h3>Debt Rehabilitation Report​</h3><br />
                        <div class="btn-group ">
                            <button class="btn btn-primary dropdown-toggle1" type="button" data-toggle="dropdown">
                                Select a document
                            </button>
                            <div class="dropdown-menu style=" max-height: 200px; overflow-y: auto;"">
                                <a class="dropdown-item" href="~/Images/keydocuments/PDFs/1/ITEM 28 -.pdf" target="_blank">Proposal for an Extension of Once-Off Debt-Write Off for the Rehabilitation of Defaulting Debtor - Phase Two (2)​ </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
     <br />
    <br />
    <br />
    <br />
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="card">
                    <div class="card-body contain_links text-center">
                        <br /><br />
                        <img src="~/Images/keydocuments/ANNUAL REPORT THUMB-01.png" alt="Logo" class="card_Logo">
                        <br /><br />
                        <h3>Disciplinary Board Reports​​​​</h3><br />
                        <div class="btn-group ">
                            <button class="btn btn-primary dropdown-toggle1" type="button" data-toggle="dropdown">
                                Select a document
                            </button>
                            <div class="dropdown-menu style=" max-height: 200px; overflow-y: auto;"">
                                <a class="dropdown-item" href="~/Images/keydocuments/PDFs/1/ITEM 29 - Disciplinary Board.pdf" target="_blank">Appointment of the Members of the City's Disciplinary Board in Accordance with the MFMA Regulations on Financial Misconduct and Council Resolution​​</a>
                                <a class="dropdown-item" href="~/Images/keydocuments/PDFs/1/ITEM 29 MEMBERS' QUALIFICTNS-annex.pdf" target="_blank">Profiles of the Disciplinary Board Members</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <div class="card-body contain_links text-center">
                        <br /><br />
                        <img src="~/Images/keydocuments/ANNUAL REPORT THUMB-01.png" alt="Logo" class="card_Logo">
                        <br /><br />
                        <h3>Annual Report​s​</h3><br />
                        <div class="btn-group ">
                            <button class="btn btn-primary dropdown-toggle1" type="button" data-toggle="dropdown">
                                Select a document
                            </button>
                            <div class="dropdown-menu style=" max-height: 200px; overflow-y: auto;"">
                                <a class="dropdown-item" href="~/Images/keydocuments/PDFs/1/CoJ-IntergratedAnnualReport20212022.pdf" target="_blank">2021/2022 Integrated Annual Report​​​​</a>
                                <a class="dropdown-item" href="~/Images/keydocuments/PDFs/1/CoJ IAR 2020_2021_CITIZENS REPORT_03 March 2022.pdf" target="_blank">2020/2021 Citizens Report</a>
                                <a class="dropdown-item" href="~/Images/keydocuments/PDFs/1/City of Johannesburg Annual Intergrated Report_1st_Council version.pdf" target="_blank">2020/21 Reports​​​</a>
                                <a class="dropdown-item" href="~/Images/keydocuments/PDFs/1/Final Audited Group Anual Financial Statements 30 June 2020.pdf" target="_blank">2019/20 Reports​</a>
                                <a class="dropdown-item" href="~/Images/keydocuments/PDFs/1/2018-19 City of Johannesburg Annual Report .pdf" target="_blank">2018/19 Reports</a>
                                <a class="dropdown-item" href="~/Images/keydocuments/PDFs/1/CoJ Annual Report 2017-18 _4 March 2019.pdf" target="_blank">2017/18 Reports</a>
                                <a class="dropdown-item" href="~/Images/keydocuments/PDFs/1/Annual Report For Council.pdf" target="_blank">​2016/2017 Reports​​</a>
                                <a class="dropdown-item" href="~/Images/keydocuments/PDFs/1/CoJ Consolidated Integrated Report.pdf" target="_blank">2015/2016 Reports​</a>
                                <a class="dropdown-item" href="~/Images/keydocuments/PDFs/1/2013-14 jda integrated annual report and afs.pdf" target="_blank">2014/2015 Reports</a>
                                <a class="dropdown-item" href="~/Images/keydocuments/PDFs/1/annexure a (1).pdf" target="_blank">2013/2014 Reports</a>
                                <a class="dropdown-item" href="~/Images/keydocuments/PDFs/1/report tabling of annual reports of me 2011_12 (1).pdf" target="_blank">2012/2013 Reports</a>
                                <a class="dropdown-item" href="~/Images/keydocuments/PDFs/1/fin_statements11.pdf" target="_blank">2011/2012 Reports​</a>
                             
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <div class="card-body contain_links text-center">
                        <br /><br />
                        <img src="~/Images/keydocuments/ANNUAL REPORT THUMB-01.png" alt="Logo" class="card_Logo">
                        <br /><br />
                        <h3>Information Statements</h3><br />
                        <div class="btn-group ">
                            <button class="btn btn-primary dropdown-toggle1" type="button" data-toggle="dropdown">
                                Select a document
                            </button>
                            <div class="dropdown-menu style=" max-height: 200px; overflow-y: auto;"">
                                <a class="dropdown-item" href="~/Images/keydocuments/PDFs/1/IFC Information Statement.pdf" target="_blank">Local Authority Notice, Information Statement​ ​​​​</a>
                                <a class="dropdown-item" href="~/Images/keydocuments/PDFs/1/Local Authority Notice.pdf" target="_blank">Local Authority Notice, Information Statement DBSA​</a>
                                <a class="dropdown-item" href="~/Images/keydocuments/PDFs/1/Information Statement DBSA Final Advert.pdf" target="_blank">​​Local Authority Notice, Information Statement DBSA​​​</a>
                                <a class="dropdown-item" href="~/Images/keydocuments/PDFs/1/Annexure A Information Statement ABSA (007) (004).pdf" target="_blank">Annexure A, Information​ Statement ABSA​</a>
                                <a class="dropdown-item" href="~/Images/keydocuments/PDFs/1/Annexure A Information Statement Nedbank (002) (004).pdf" target="_blank">Annexure A, Information Statement ​Nedb​ank​</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <div class="card-body contain_links text-center">
                        <br /><br />
                        <img src="~/Images/keydocuments/INTEREGATED DEVELOPMENT PLAN THUMB-01.png" alt="Logo" class="card_Logo">
                        <br /><br />
                        <h5>City of Johannesburg Integrated Development Plan ​</h5><br />
                        <div class="btn-group ">
                            <button class="btn btn-primary dropdown-toggle1" type="button" data-toggle="dropdown">
                                Select a document
                            </button>
                            <div class="dropdown-menu style=" max-height: 200px; overflow-y: auto;"">
                                <a class="dropdown-item" href="~/Images/keydocuments/PDFs/1/Annexure A  2018-19 IDP Review.pdf" target="_blank">City of Johannesburg Integrated Development Plan 2018/19 review​​</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <br />
    <br />
    <br />
    <br />
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="card">
                    <div class="card-body contain_links text-center">
                        <br /><br />
                        <img src="~/Images/keydocuments/INTEREGATED DEVELOPMENT PLAN THUMB-01.png" alt="Logo" class="card_Logo">
                        <br /><br />
                        <h3>Draft Spatial Framework 2040</h3><br />
                        <div class="btn-group ">
                            <button class="btn btn-primary dropdown-toggle1" type="button" data-toggle="dropdown">
                                Select a document
                            </button>
                            <div class="dropdown-menu style=" max-height: 200px; overflow-y: auto;"">
                                <a class="dropdown-item" href="https://onedrive.live.com/?authkey=%21AKXKeJkMuDQlv3A&id=727F09263EBF3F62%21245709&cid=727F09263EBF3F62" target="_blank">​​CoJ SDF 2021/2022</a>
                                <a class="dropdown-item" href="~/Images/keydocuments/PDFs/1/Call for Public Comments CoJ SDF 2021.pdf" target="_blank">Notice calling for public comment​</a>
                                <a class="dropdown-item" href="~/Images/keydocuments/PDFs/1/Joburg SDF 2021 Draft for Public Comment.pdf" target="_blank">Draft Spatial Development Framework 2021/22 for comment</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <div class="card-body contain_links text-center">
                        <br /><br />
                        <img src="~/Images/keydocuments/INTEREGATED DEVELOPMENT PLAN THUMB-01.png" alt="Logo" class="card_Logo">
                        <br /><br />
                        <h3>Land Use Scheme </h3><br />
                        <div class="btn-group ">
                            <button class="btn btn-primary dropdown-toggle1" type="button" data-toggle="dropdown">
                                Select a document
                            </button>
                            <div class="dropdown-menu style=" max-height: 200px; overflow-y: auto;"">
                                <a class="dropdown-item" href="~/Images/keydocuments/PDFs/1/City of Johannesburg Land Use Scheme - FINAL 2018.pdf" target="_blank">​​Land Use Scheme 2018/19​</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <div class="card-body contain_links text-center">
                        <br /><br />
                        <img src="~/Images/keydocuments/joburg property company.png" alt="Logo" class="card_Logo">
                        <br /><br />
                        <h3>​​Inner City Investor Prospectus​</h3><br />
                        <div class="btn-group ">
                            <button class="btn btn-primary dropdown-toggle1" type="button" data-toggle="dropdown">
                                Select a document
                            </button>
                            <div class="dropdown-menu style=" max-height: 200px; overflow-y: auto;"">
                                <a class="dropdown-item" href="">Nothing here yet</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <div class="card-body contain_links text-center">
                        <br /><br />
                        <img src="~/Images/keydocuments/INTEREGATED DEVELOPMENT PLAN THUMB-01.png" alt="Logo" class="card_Logo">
                        <br /><br />
                        <h3>Development​</h3><br />
                        <div class="btn-group ">
                            <button class="btn btn-primary dropdown-toggle1" type="button" data-toggle="dropdown">
                                Select a document
                            </button>
                            <div class="dropdown-menu style=" max-height: 200px; overflow-y: auto;"">
                                <a class="dropdown-item" href="">Nothing here yet</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <br />
    <br />
    <br />
    <br />
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="card">
                    <div class="card-body contain_links text-center">
                        <br /><br />
                        <img src="~/Images/keydocuments/public access to information act.png" alt="Logo" class="card_Logo">
                        <br /><br />
                        <h3>Public Access to Information Act​​</h3><br />
                        <div class="btn-group ">
                            <button class="btn btn-primary dropdown-toggle1" type="button" data-toggle="dropdown">
                                Select a document
                            </button>
                            <div class="dropdown-menu style=" max-height: 200px; overflow-y: auto;"">
                                <a class="dropdown-item" href="~/Images/keydocuments/PDFs/1/FORM 2 - Request Form.pdf" target="_blank">​​PAIA Forms</a>
                                <a class="dropdown-item" href="~/Images/keydocuments/PDFs/1/COJ PAIA Manual English ( AUG 2022 ).pdf" target="_blank">PAIA Manuals ​​</a>
                                <a class="dropdown-item" href="https://inforegulator.org.za/" target="_blank">​​Information Regulator</a>
                                <a class="dropdown-item" href="https://www.justice.gov.za/" target="_blank">​Department of Justice and Correctional Development​</a>
                                <a class="dropdown-item" href="https://www.gov.za/sotes/default/gcis_document/document/201409/3706726-11act4of2013popi.pdf" target="_blank">Protection of Personal Information Act​</a>
                                <a class="dropdown-item" href="~/Images/keydocuments/PDFs/1/2000-003.pdf" target="_blank">​​Promotion of Administrative Justice Act, 2000​</a>
                                <a class="dropdown-item" href="~/Images/keydocuments/PDFs/1/Ombud By-law PUBLISHED.pdf" target="_blank">​COJ Ombudsman by-law</a>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <div class="card-body contain_links text-center">
                        <br /><br />
                        <img src="~/Images/keydocuments/SCORECARDS AND PERFORMANCE AGREEMENTS THUMB.png" alt="Logo" class="card_Logo">
                        <br /><br />
                        <h3>Scorecards And Performance Agreements​</h3><br />
                        <div class="btn-group ">
                            <button class="btn btn-primary dropdown-toggle1" type="button" data-toggle="dropdown">
                                Select a document
                            </button>
                            <div class="dropdown-menu style=" max-height: 200px; overflow-y: auto;"">
                                <a class="dropdown-item" href="/Link1.pdf" target="_blank">​​2023/2024 Scorecards for Section​​ 57 Employees and Performance​ A​greemen​t​</a>
                                <a class="dropdown-item" href="/Link2.pdf" target="_blank">2022/2023 Scorecards for Section 57 Employees and Performance agreement</a>
                                <a class="dropdown-item" href="/Link3.pdf" target="_blank">2021/2022 Scorecards for Section 57 Employees and Performance agreement​​​</a>
                                <a class="dropdown-item" href="/Link4.pdf" target="_blank">​​2020/2021 Scorecards for Section​​ 57 Employees and Performance​ agreement​​</a>
                                <a class="dropdown-item" href="/Link5.pdf" target="_blank">​2019/2020 Scorecards for Section 57 Employees and performance agreement​​​​​</a>
                                <a class="dropdown-item" href="/Link6.pdf" target="_blank">2018/2019 Scorecards for Section​​ 57 Employees and Performance​ agreement</a>
                                <a class="dropdown-item" href="/Link7.pdf" target="_blank">2017/2018​​ Scorecards for Section 57 Employees and Performance agreement ​ ​​</a>
                                <a class="dropdown-item" href="/Link8.pdf" target="_blank">2016/2017 ​Scorecards for Section 57 Employees and Performance agreement ​​​</a>
                                <a class="dropdown-item" href="/Link9.pdf" target="_blank">​​​2015/2016​ Scorecards for Section 57 Employees and Performance agreement ​</a>
                                <a class="dropdown-item" href="/Link10.pdf" target="_blank">​2014/2015​ ​Scorecards for Section 57 Employees and Performance agreement ​​</a>
                                <a class="dropdown-item" href="/Link11.pdf" target="_blank">2012/2013 ​​Scorecards for Section 57 Employees and Performance agreement​​​</a>
                                <a class="dropdown-item" href="/Link12.pdf" target="_blank">​​2010/2011 ​Scorecards for Section 57 Employees and Performance agreement​</a>
                                <a class="dropdown-item" href="/Link13.pdf" target="_blank">​2009/2010​ ​Scorecards for Section 57 Employees and Performance agreement ​</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <div class="card-body contain_links text-center">
                        <br /><br />
                        <img src="~/Images/keydocuments/BY-LAWS THUMB-01.png" alt="Logo" class="card_Logo">
                        <br /><br />
                        <h3>​By-Laws ​</h3><br />
                        <div class="btn-group ">
                            <button class="btn btn-primary dropdown-toggle1" type="button" data-toggle="dropdown">
                                Select a document
                            </button>
                            <div class="dropdown-menu ">
                                <a class="dropdown-item" href="/Link1.pdf" target="_blank">​​2023/2024 Scorecards for Section​​ 57 Employees and Performance​ A​greemen​t​</a>
                                <a class="dropdown-item" href="/Link2.pdf" target="_blank">2022/2023 Scorecards for Section 57 Employees and Performance agreement</a>
                                <a class="dropdown-item" href="/Link3.pdf" target="_blank">2021/2022 Scorecards for Section 57 Employees and Performance agreement​​​</a>
                                <a class="dropdown-item" href="/Link4.pdf" target="_blank">​​2020/2021 Scorecards for Section​​ 57 Employees and Performance​ agreement​​</a>
                                <a class="dropdown-item" href="/Link5.pdf" target="_blank">​2019/2020 Scorecards for Section 57 Employees and performance agreement​​​​​</a>
                                <a class="dropdown-item" href="/Link6.pdf" target="_blank">2018/2019 Scorecards for Section​​ 57 Employees and Performance​ agreement</a>
                                <a class="dropdown-item" href="/Link7.pdf" target="_blank">2017/2018​​ Scorecards for Section 57 Employees and Performance agreement ​ ​​</a>
                                <a class="dropdown-item" href="/Link8.pdf" target="_blank">2016/2017 ​Scorecards for Section 57 Employees and Performance agreement ​​​</a>
                                <a class="dropdown-item" href="/Link9.pdf" target="_blank">​​​2015/2016​ Scorecards for Section 57 Employees and Performance agreement ​</a>
                                <a class="dropdown-item" href="/Link10.pdf" target="_blank">​2014/2015​ ​Scorecards for Section 57 Employees and Performance agreement ​​</a>
                                <a class="dropdown-item" href="/Link11.pdf" target="_blank">2012/2013 ​​Scorecards for Section 57 Employees and Performance agreement​​​</a>
                                <a class="dropdown-item" href="/Link12.pdf" target="_blank">​​2010/2011 ​Scorecards for Section 57 Employees and Performance agreement​</a>
                                <a class="dropdown-item" href="/Link13.pdf" target="_blank">​2009/2010​ ​Scorecards for Section 57 Employees and Performance agreement ​</a>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
          
            <div class="col-md-3">
                <div class="card">
                    <div class="card-body contain_links text-center">
                        <br /><br />
                        <img src="~/Images/keydocuments/policies.png" alt="Logo" class="card_Logo">
                        <br /><br />
                        <h3>Policies​​​</h3><br />
                        <div class="btn-group ">
                            <button class="btn btn-primary dropdown-toggle1" type="button" data-toggle="dropdown">
                                Select a document
                            </button>
                            <div class="dropdown-menu ">
                                <a class="dropdown-item" href="">Nothing here yet</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
        <br />
        <br />
        <br />
        <br />
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="card">
                    <div class="card-body contain_links text-center">
                        <br /><br />
                        <img src="~/Images/keydocuments/STATISTICAL PUBLICATIONS THUMB-01_png.jpg" alt="Logo" class="card_Logo">
                        <br /><br />
                        <h3>Statistical Briefs​​​</h3><br />
                        <div class="btn-group ">
                            <button class="btn btn-primary dropdown-toggle1" type="button" data-toggle="dropdown">
                                Select a document
                            </button>
                            <div class="dropdown-menu menu">
                                <a class="dropdown-item" href="/Link1.pdf" target="_blank">​​The State of CoJ Finances​​</a>
                                <a class="dropdown-item" href="/Link2.pdf" target="_blank">Level of Human Development in CoJ</a>
                                <a class="dropdown-item" href="/Link3.pdf" target="_blank">Satisfaction with Public Safety​​​</a>
                                <a class="dropdown-item" href="/Link4.pdf" target="_blank">​​​Level of Customer Satisfaction with Municipal Services​​​</a>
                                <a class="dropdown-item" href="/Link5.pdf" target="_blank">​General Travel Patterns of Joburg Residents​​​​​</a>
                                <a class="dropdown-item" href="/Link3.pdf" target="_blank">Level of Satisfaction with Municipal Services</a>
                                <a class="dropdown-item" href="/Link4.pdf" target="_blank"> Demographic profile of people living with disabilities in the City of Johannesburg- Iss​ue 27 June 2021​ ​​</a>
                                <a class="dropdown-item" href="~/Link5.pdf" target="_blank">The City at A Glance ​​​</a>
                                <a class="dropdown-item" href="~/Link3.pdf" target="_blank">​​​​The Socio-Economic Status</a>
                                <a class="dropdown-item" href="/Link4.pdf" target="_blank">​Quality of life and Satisfaction with Service Delivery​</a>
                                <a class="dropdown-item" href="/Link3.pdf" target="_blank">​​​Poverty and Livelihoods</a>
                                <a class="dropdown-item" href="/Link4.pdf" target="_blank">​​The State of health in the City of Johannesburg​</a>
                                <a class="dropdown-item" href="/Link5.pdf" target="_blank">Transport​​​</a>
                                <a class="dropdown-item" href="/Link3.pdf" target="_blank">​​Neighbourhoods</a>
                                <a class="dropdown-item" href="/Link4.pdf" target="_blank">​​Entrepreneurship​​​​​​</a>
                                <a class="dropdown-item" href="/Link3.pdf" target="_blank">​An Analysis of Key Trends and Indicators for the City of Johannesburg</a>
                                <a class="dropdown-item" href="/Link4.pdf" target="_blank">The Heart of a Global City​​</a>
                                <a class="dropdown-item" href="/Link5.pdf" target="_blank">State of the City ​Jhb as a series of villages​​​​</a>
                                <a class="dropdown-item" href="/Link3.pdf" target="_blank">​​​A Healthy City: Bringing Primary Health Care Services to the Residents of Joburg​</a>
                                <a class="dropdown-item" href="/Link4.pdf" target="_blank">Joburg Energy Usage ​​</a>
                                <a class="dropdown-item" href="/Link3.pdf" target="_blank">​​The State of Crime and Safety in the City of Joburg​</a>
                                <a class="dropdown-item" href="/Link4.pdf" target="_blank">Billing and Payment in the City of Joburg​</a>
                                <a class="dropdown-item" href="/Link5.pdf" target="_blank">HIV Prevalence in the City of Joburg​​​</a>
                                <a class="dropdown-item" href="/Link3.pdf" target="_blank">​​Water Security in the City of Jo​burg​​​</a>
                                <a class="dropdown-item" href="/Link4.pdf" target="_blank">​Joburg Demographics and Key Socio Economic Indicators​​​​​</a>
                                <a class="dropdown-item" href="/Link3.pdf" target="_blank">Joburg 2040 GDS Outcome Indicators Progress Report</a>
                                <a class="dropdown-item" href="/Link4.pdf" target="_blank">Food Prices During Lockdown​​</a>
                                <a class="dropdown-item" href="/Link5.pdf" target="_blank">Analysis of Transport based on GHS 2019 Joburg Compared to Other Gauteng metros​​​</a>
                              
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Include Bootstrap JS and jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>

